.modal {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-box {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 5rem;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
}

.message-box button {
  align-self: end;
  background: #fff;
  border: none;
  margin: .5rem;
  cursor: pointer;
}
